<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>lfm-player</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/mdb/animations-extended.min.css">
    <link rel="stylesheet" href="assets/css/mdb/datatables-select.min.css">
    <link rel="stylesheet" href="assets/css/mdb/datatables.min.css">
    <link rel="stylesheet" href="assets/css/mdb/directives.min.css">
    <link rel="stylesheet" href="assets/css/mdb/flag.min.css">
    <link rel="stylesheet" href="assets/css/mdb/jquery.zmd.hierarchical-display.min.css">
    <link rel="stylesheet" href="assets/css/mdb/mdb.css">
    <link rel="stylesheet" href="assets/css/mdb/rating.min.css">
    <link rel="stylesheet" href="assets/css/mdb/style.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/fontawesome/all.css">
<script type="text/javascript" src="//api.laut.fm/js_tools/lautfm_js_tools.0.10.0.js.min.js" ></script>
</head>

<body><nav class="broadcastbar fixed-top">
    <div class="container">
        <div class="row">

            <div class="col-md-1">
                <button class="player-button playbtn"><i class="fas play-pause fa-play"></i></button>
            </div>


            <div class="col-md-11" id="nowplaying">
                <div id="api_lfm_display_name"></div>&nbsp;spielt:&nbsp;<div id="api_lfm_current_song1"></div>
                <script type="text/html" id="display_name_template" charset="utf-8"><%= this.display_name %></script>
                <script type="text/html" id="current_song_template1" charset="utf-8"><%= this.artist.name %> mit <%= this.title %></script>
            </div>


        </div>
    </div>
</nav>
<audio class="live-player" id="audio"></audio>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/lfmplayer.js"></script>
    <script src="assets/js/mdb/mdb.js"></script>
    <script src="assets/js/fontawesome/all.js"></script>

<script>
    let color = $_GET('color');
    let root = document.documentElement;
    root.style.setProperty('--main-color', '#' + color);

    let station = $_GET('station');
    let sender = station.toUpperCase();
    laut.fm.station(station)
        .info({container:'station', template:'station_template'})
        .current_song({container:'api_lfm_current_song1', template:'current_song_template1'}, true)
        .info({container:'api_lfm_display_name', template:'display_name_template'});

</script>

</body>

</html>
