#last_songs {
  margin-top: 5rem;

  .col-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .last_song {
    min-height: 55px;
    padding: 8px 16px 8px 24px;
    margin: 4px;

    .track_nr {
      min-width: 32px;
      max-width: 35px;
      font-size: 1rem;
      line-height: 1.25rem;
      outline: none;
      margin-left: 0 !important;
      display: inline-block !important;
      visibility: visible !important;
      font-weight: 700;

      img {
        max-height: 35px;
      }
    }

    .song_wrapper {
      flex-grow: 1;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 0;

      .last_text {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        padding-right: 12px;

        &.last_artist {
          font-size: 1rem;
          line-height: 1.25rem;
          margin: 0 0 2px;
          font-weight: 700;
        }

        &.last_title {
          font-size: .875rem;
          line-height: 1.125rem;
          margin: 0;
        }
      }
    }
    .last_btn {
      padding-top: 2px;
      margin-top: 4px;
      a{
        color: inherit;
      }
      i {
        font-size: 1rem;
      }
    }
  }
}